@{
    ViewData["Title"] = "Under Construction";
    Layout = "";
}
<script>
var countDownDate = new Date("2022/09/06 14:00").getTime();
var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  document.getElementById("countdownTimer").innerHTML = days + " days";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdownTimer").innerHTML = "Soon";
  }
}, 1000);
</script>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cache-control" content="no-cache" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/underConstruction.css" type="text/css"/>
        <link rel="icon" href="~/favicon.ico" />
        <title>@ViewData["Title"] - iforecast</title>
    </head>
    <body>
        <div>
            <div class="d-flex flex-main-direction justify-content-header align-items-center header flex-wrap">
                <h1 class="background-title-60">Under Development :)</h1>
            </div>
            <div class="d-flex flex-main-direction flex-nowrap justify-content-text align-items-stretch">
                <div class="background-content-60" id="underConstructionTxt">
                    <article>
                        <h2>It's going to be here soon!</h2>
                        <p>
                            Hello everyone;
                            <br />My name is <b>S.AmirMohammad Hasanli</b>, and thanks for your interest in my 'iforecast' project. 
                            <br />I am currently making some changes to the general style of the website and adding some new features! It may take some time since I am a full-time M.Sc. degree student and only working on this project on my spare time.
                            <br />The main purpose of this website is to provide weather forecasting information for the region that I am currently living in, which is <i>North Rhine-Westphalia, Germany</i>. I am planning to provide this weather forecast data using <b>GFS</b> and <b>ICON</b> global meteorological models with a bit of adjustment and calibration.
                            <br />Of couese a side-purpose of having this website is to practice new techniques that i came across time to time and serving as a portfolio for myself. 
                            <br />Hopefully it will be back online in  <span id="countdownTimer"></span>!
                        </p>
                    </article>
                </div>
                <div class="" id="underConstructionImg">
                    <div class="imgWrap">
                        <img id="pic" src="~/img/myPic.jpg" alt="my picture"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
