@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "S.Amirmohammad Hasanli";
}

<div class="body__summary">
    <article class="body__summary__article" id="summary">
        <h2 class="body__summary__h2">
            summary
        </h2>
        <article class="body__summary__article__sub">
            <h3 class="body__summary__article__sub__h3">
                I am...
            </h3>
            <p class="body__summary__article__sub__p">
                I am a highly motivated back-end developer with a degree in water science and hydrology! I am interested in developing and implementing complicated programs. I enjoy solving tough problems and being a team-member! I am eager to use the best of my knowledge when developing, and I am not scared of learning new things. In fact, I enjoy it very much.
            </p>
        </article>
        <article class="body__summary__article__sub">
            <h3 class="body__summary__article__sub__h3">
                My strongest skills and how I learned them...
            </h3>
            <p class="body__summary__article__sub__p">
                I would say most of my experience comes with C#, C++ and python. I have been using C# in console and ASP .net core(MVC). I am comfortable developing with C++ and I used it for embedded programming in my projects. I started learning python first for networking purposes and then proceed using it for cross-platform automation, web scraping and etc...
            </p>
        </article>
        <article class="body__summary__article__sub">
            <h3 class="body__summary__article__sub__h3">
                What I am looking for...
            </h3>
            <p class="body__summary__article__sub__p">
                I'm looking for a backend developer position, or full-stack intern/junior position. I enjoy being a team member, however I can be self-managed and work on my own if its necessary. I like to work in a well-organized team, whether the management system is flat-designed or hierarchy.
            </p>
        </article>
    </article>
</div>
<div class="body__workExperience">
    <article class="body__workExperience__article" id="workExperience">
        <h2 class="body__workExperience__h2">
            Working Experience
        </h2>
        <article class="body__workExperience__article__sub">
            <h3 class="body__workExperience__article__sub__h3">
                Back End Developer
            </h3>
            <p class="body__workExperience__article__sub__h3__subHeader">
                at Arisan Radin Faraz Co. (Arf Co.)
            </p>
            <p class="body__workExperience__article__sub__h3__date">
                <time datetime="2021-01-01">January 2021</time>
                -
                <time datetime="2022-04-01">April 2022 </time>
            </p>
            <p class="body__workExperience__article__sub__p">
            <ul class="ul__lvl1">
                <li>
                    Producing Agricultural weather stations
                    <ul class="ul__lvl2">
                        <li>
                            Designing agricultural weather stations
                        </li>
                        <li>
                            Producing sample ready-to-use weather station kits
                        </li>
                        <li>
                            Designing monitoring systems for poultry farms
                            <ul class="ul__lvl3">
                                <li>
                                    including CO2 and methane gas sensors, Temperature
                                </li>
                                <li>
                                    sensors and automating the heating and cooling procedures
                                </li>
                                <li>
                                    An automated warning system including visual, aural and sms alarms was also
                                    implemented
                                </li>
                                <li>
                                    Implementing monitoring system in Amiraan Protein poultry farm
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <h3 class="body__workExperience__article__sub__h3">
                Back End Developer
            </h3>
            <p class="body__workExperience__article__sub__h3__subHeader">
                at Water Research Institute (WRI); Department, Water Research Institute (WRI)
            </p>
            <p class="body__workExperience__article__sub__h3__date">
                <time datetime="2019-12-01">December 2019</time>
                -
                <time datetime="2021-01-01">January 2021</time>
            </p>
            <p class="body__workExperience__article__sub__p">
            <ul class="ul__lvl1">
                <li>
                    Download and archive dam’s hydrometric data automation
                </li>
                <li>
                    Maintenance and update related databases
                </li>
                <li>
                    Automating process of updating interface
                    <ul class="ul__lvl2">
                        <li>
                            Downloading data
                        </li>
                        <li>
                            Running corresponding models
                        </li>
                        <li>
                            Preparing results and updating system
                        </li>
                    </ul>
                </li>
            </ul>
        </article>
        <article class="body__workExperience__article__sub">
            <h3 class="body__workExperience__article__sub__h3">
                Back End Developer
            </h3>
            <p class="body__workExperience__article__sub__h3__subHeader">
                at Water Research Institute (WRI); Department, Water Research Institute (WRI)
            </p>
            <p class="body__workExperience__article__sub__h3__date">
                <time datetime="2017-01-01">January 2017</time>
                -
                <time datetime="2020-12-01">December 2020</time>
            </p>
            <p class="body__workExperience__article__sub__p">
                <ul class="ul__lvl1">
                    <li>
                        Cooperation in designing flood warning system workflow
                    </li>
                    <li>
                        Building Linux Cluster with 12 nodes using InfiniBand and TCP technologies
                    </li>
                    <li>
                        Ensemble WRF model
                        <ul class="ul__lvl2">
                            <li>Automating download and data pre-processing </li>
                            <li>Automating Execution of WRF model for 20 members of GEFS (once every day) </li>
                            <li>Post-processing Model outputs and generating precipitation probability maps. </li>
                        </ul>
                    </li>
                    <li>WRF-Hydro Calibration tool
                        <ul class="ul__lvl2">
                            <li>Automating Calibration process using PSO algorithm. </li>
                        </ul>
                    </li>
                    <li>
                        Coupling WRF atmospheric model with WRF-Hydro and GSSHA hydrological models.
                        <ul class="ul__lvl2">
                            <li>
                                Automating data pre-process for GSSHA model
                            </li>
                            <li>
                                Automating input data’s temperature interpolation using 30s DEM for both WRF-Hydro and GSSHA
                            </li>
                            <li>
                                Automating execution of models.
                            </li>
                            <li>
                                Automating post-process of outputs and updating database.
                            </li>
                        </ul>
                    </li>
                    <li>
                        MetoSat precipitation data gathering and pre-processing (MPE 41 deg, HSAF-H03B 0 deg)
                    </li>
                    <li>
                        Reg-CM seasonal forecasting automation
                    </li>
                    <li>
                        Reg-CM seasonal forecasting automation
                    </li>
                    <li>
                        Flood warning system desktop software
                        <ul class="ul__lvl2">
                            <li>
                                Display GFS and WRF regional model data connected to online FWS database.
                            </li>
                            <li>
                                Perform GIS operations.
                            </li>
                            <li>
                                Developed using DotSpecial for GIS operations and GDAL for raster and vector support using C# for Windows OS.
                            </li>
                            <li>
                                Global and local WMS servers support
                            </li>
                        </ul>
                    </li>
                    <li>
                        WRF regional model, automating data download, preprocess, Model Execution, post-process and archiving.
                    </li>
                    <li>
                        GFS global model, automating download, pre-process and archiving.
                    </li>
                </ul>
        </article>
        <article class="body__workExperience__article__sub">
            <h3 class="body__workExperience__article__sub__h3">
                Project Expert
            </h3>
            <p class="body__workExperience__article__sub__h3__subHeader">
                at Khaje Nasir Toosi (K. N. Toosi) University of Technology
            </p>
            <p class="body__workExperience__article__sub__h3__date">
                <time datetime="2018-08-01">August 2018</time>
                -
                <time datetime="2019-08-01">August 2019</time>
            </p>
            <p class="body__workExperience__article__sub__p">
                Objective of following project is to develop a system to determine drought periods and predict how long it will last. National and Global meteorological models have been used to fulfill this duty. I was chosen because of my experience with weather forecasting, programming and my knowledge of project management. I have been responsible for designing workflow and determine required resources (software and hardware) for this project. The project's operator is Sistan and Baluchestan regional water company. However, Unfortunately the project was terminated a year after starting because of government's financial issues.
            </p>
        </article>
        <article class="body__workExperience__article__sub">
            <h3 class="body__workExperience__article__sub__h3">
                IT Specialist
            </h3>
            <p class="body__workExperience__article__sub__h3__subHeader">
                at Hefaz Sazan Khatami
            </p>
            <p class="body__workExperience__article__sub__h3__date">
                <time datetime="2016-05-01">May 2016</time>
                -
                <time datetime="2016-12-01">December 2016</time>
            </p>
            <p class="body__workExperience__article__sub__p">
                It was a short contract where I was responsible for maintaining CCTV network, website and internal network of different machinery.
            </p>
        </article>
        <article class="body__workExperience__article__sub">
            <h3 class="body__workExperience__article__sub__h3">
                Group Leader
            </h3>
            <p class="body__workExperience__article__sub__h3__subHeader">
                at Avita Freelancing Group
            </p>
            <p class="body__workExperience__article__sub__h3__date">
                April 2013 - March 2015
            </p>
            <p class="body__workExperience__article__sub__p">
                Avita was a freelancing group where we gathered and worked as whole. Main goal of this group however, was to learn and teach new skills to each other. so one may call it a community/work group. During our active years, we had members from South Korea, China, Sri Lanka, and Iran.
                Beside from social and Team work experiences, Together we learned and experienced programming in C++, C#, python and web development essentials (HTML+CSS+JS).
            </p>
        </article>
    </article>
</div>